<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Teqstories | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="https://www.teqstories.com/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/page1.css">
</head>
<body>
	<section>
		<div class="header">
			<h1>Popular Courses</h1>
			<p>Upskill yourself with the industry recognised course with one of the best leading industry mentors.</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">

						<div class="img">
							<img src="https://www.teqstories.com/assets/images/pc/AWS.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>

						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>

						<div>
							<button type="button">
								<a href="">Read More</a>
							</button>
						</div>
						
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/pc/Devops.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>DevOps Certification Training Course offered by Teqstories will help you to prepare for a career in DevOps. It is a fast-growing field that connects the gap between software developers and operation...</p>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/pc/data.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>Data Science serves the purpose to find patterns within data. The Data Science Certification is recommended for professionals and job seekers so as to make quicker and better decisions, that take ...</p>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/pc/Java.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>As a fresher if you are looking for opportunities in the IT market, Java Certification helps you widely to stand out from the crowd. Java certification helps you learn new concepts in the Java wor...</p>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/pc/react.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>The React JS Certification Course is for web developers, programmers who build awesome UI using React and Flux. ReactJS Certification helps the learner differentiate in today's competition, broaden ...</p>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/pc/Angular.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>Angular Certification training is quite important for Web Developers and Mobile Application Developers. AngularJS certification produces developers who can build single page web applications using...</p>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>