<!DOCTYPE html>
<html>
<head>
	<title>page2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
	<section class="header"> 
		<div>
			<h1>Customer Stories</h1>
			<p>We at Teqstories are committed in delivering the best to our customers.</p>
		</div>
		<div class="container">
			<img src="https://www.teqstories.com/assets/images/person1.png">
			<p>It’s been amazing the way he teach AWS as I am from testing background and he made it easy for people like me to understand the networking ..!! Post which I referred couple of my friends who were inte...</p>
		</div>
	</section>
</body>
</html>