<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Teqstories | File</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="https://www.teqstories.com/favicon.png">
	<link rel="stylesheet" type="text/css" href="file.css">
</head>
<body>
	<section>
		<div class="header">
			<h1>Popular Courses</h1>
			<p>Upskill yourself with the industry recognised course with one of the best leading industry mentors.</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div>
							<img src="https://www.teqstories.com/assets/images/pc/AWS.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
						<div>
							<button type="button">
								<a href="">Read More</a>
							</button>
						</div>
					</div>
		
				</div>
				<div class="col">
					<div class="card">
						<div>
							<img src="https://www.teqstories.com/assets/images/pc/Devops.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
						<div>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
					</div>
					<div>
						
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div>
							<img src="https://www.teqstories.com/assets/images/pc/data.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
						<div>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
					</div>
	
				</div>
				<div class="col">
					<div class="card">
						<div>
							<img src="https://www.teqstories.com/assets/images/pc/Java.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
						<div>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
					</div>
					
				</div>
				<div class="col">
					<div class="card">
						<div>
							<img src="https://www.teqstories.com/assets/images/pc/react.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
						<div>
						<button type="button">
							<a href="">Read More</a>
						</button>
					</div>
					</div>
					
				</div>
				<div class="col">
					<div class="card">
						<div>
							<img src="https://www.teqstories.com/assets/images/pc/Angular.svg">
						</div>
						<h4>AWS Solutions Architect Certification Course</h4>
						<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
						<div>
							<button type="button">
								<a href="">Read More</a>
							</button>
						</div>
					</div>
				<div>
			</div>
		</div>
		<div class="person">
			<h2>Clients</h2>
			<p>Trusted by the best</p>
		</div>
		<div class="content">
			<div class="row2">
				<div class="col2">
					<div class="card2">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/01.png">
						</div>
					</div>
				</div>
				<div class="col2">
					<div class="card2">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/02.png">
						</div>
					</div>
				</div>
				<div class="col2">
					<div class="card2">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/03.png">
						</div>
					</div>
				</div>
				<div class="col2">
					<div class="card2">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/04.png">
						</div>
					</div>
				</div>
				<div class="col2">
					<div class="card2">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/05.png">
						</div>
					</div>
				</div>
				<div class="col2">
					<div class="card2">
						<div class="img">
							<img src="https://www.teqstories.com/assets/images/06.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="nx">
			<h2>The Teqstories Advantage</h2>
		</div>
		<div class="px">
			<div class="row3">
				<div class="col3">
					<div class="card3">
						<img src="https://www.teqstories.com/assets/images/adv03.jpg">
						<h3>Free Demo Session</h3>
						<p>Experience the Demo session from our best instructors by getting in touch with our technical representatives.</p>
					</div>
				</div>
				<div class="col3">
					<div class="card3">
						<img src="https://www.teqstories.com/assets/images/adv02.jpg">
						<h3>Access to LMS</h3>
						<p>The TeqStories LMS portal keeps you updated with a huge library of recorded video lectures and supports with an active community for all your queries.</p>
					</div>
				</div>
				<div class="col3">
					<div class="card3">
						<img src="https://www.teqstories.com/assets/images/adv01.jpg">
						<h3>24/7 Technical Support</h3>
						<p>Our senior mentors are always happy to guide on your doubt clarifications and provide consultation to ensure a smooth learning experience.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>