*{
	box-sizing: border-box;
	font-family: 'Open Sans' sans-serif;
}
section{
	margin: auto;
	max-width: 1100px;
}
.col{
	width: 33.33%;
	float: left;
}
.row::after{
	content: "";
	display: table;
	clear: both;
}
img{
	width: 60px;
}
.card{
	border: 1px solid #e7e7e7;
	background-color: #fefefe;
 	margin: 6px;
 	padding: 15px;  
}
button{
	border: none;
	background-color: white;
	margin-left: 210px;
}
button a{
	text-decoration: none;
	color: blue;
	padding: 10px;
	display: inline-block;
}
button:hover{
	background-color: #becaed;
}
.card > h4{

	font-weight: 600;
}
.header h1{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #005b98;
	font-size: 45px;
	font-weight: 400;
}
.header p{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #707070;
	max-width: 500px;
	font-size: 16px;
	margin-top: -26px;
}
.row2::after{
	content: "";
	display: table;
	clear: both;
}
.person  {
			background-color: #f9fbff;
			padding: 10px;
		}
.fakeImage > img {
			width: 100%;
			background-color: white;
    		border-radius: 29px;
		}
.fakeImage {
			margin: 10px;
			float: left;
			padding: 10px;	
		}
		div.person {
			max-width: 1200px;
			margin: auto;
		}
		.col2 {
			width: 16.33%;
			float: left;
		}

.person h2{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #005b98;
	font-size: 30px;
	padding: 10px;
	font-weight: 400;
}
.person p{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #707070;
	max-width: 500px;
	font-size: 16px;
	margin-top: -26px;
}
section{
	margin: auto;
	max-width: 1100px;
}
.col3{
	width: 33.33%;
	float: left;
}
.img > img{
	width: 325px;	
}
.teq h2{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #005b98;
	font-size: 30px;
	padding: 10px;
	font-weight: 400;
}
.row3::after{
	content: "";
	display: table;
	clear: both;
}
.Advantage .row3 .col3 .img{
	box-sizing: border-box;
	margin: 10px;
    border: 1px solid #eee;
    font-size: 20px;
    padding: 10px;
}
.img1 > img{
	width: 325px;	
}
.img1{
	box-sizing: border-box;
	margin: 10px;
    border: 1px solid #eee;
    font-size: 21.7px;
    padding: 10px;
}
.par{
	line-height: 22px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px){
	.col{
		width: 100%;
		}
	}
	.header h1{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #005b98;
	font-size: 45px;
	font-weight: 400;
			   }
.header p{
	font-family: Roboto,Helvetica Neue,sans-serif;
	color: #707070;
	max-width: 500px;
	font-size: 16px;
	margin-top: -26px;
		  }
.header{
	padding: 0px 10px 0px 10px;
	   }

@media screen and (min-width: 380px) and (max-width: 420px){ 
			.col {
				width: 33.33%;
				float: left;
			}
		}

		@media screen and (min-width: 270px) and (max-width: 380px){ 
			.col {
				width: 50%;
				float: left;
			}
		}
		@media screen and (min-width: 200px) and (max-width: 270px){ 
			.col {
				width: 100%;
				float: left;
			}
		}
		.col-left{
			width: 452px;
			background-color: #005b98;
			color: white;
			padding: 20px 30px 20px 30px;
			float: left;
		}
		.col-right{
			width: 454px;
    		height: 58px;
			background-color: #f9fbff;
			color: white;
			float: left;
		}
		.button{
			background-color: #005b98;
			text-align: center;
			margin-top: 20px;
			padding: 7px;
    		border-radius: 5px;
    		margin-left: 210px;
    		color: white;
    		cursor: pointer;
		}
		.background{
			background-image: url(https://www.teqstories.com/footer.778858d7b974975ad4ff.jpg);
			padding: 150px;
			background-attachment: fixed;
			background-repeat: no-repeat;
		}
		.information{
			background-color: black;
		}
		div h3{
			color: white;
			}
		div a{
			color: grey;
			text-decoration: none;
		}
		.col5{
			float: left;
		}