<!DOCTYPE html>
<html>
<head>
	<title>website</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="https://www.teqstories.com/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="website.css">
</head>
<body> 
	<div class="img">
		<img src="	https://www.teqstories.com/assets/images/banner06.jpg" style="width: 100%;">
	</div>
	<section>
		<h1>Popular Courses</h1>
		<p>Upskill yourself with the industry recognised course with one of the best leading industry mentors.</p>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="image">
							<img src="https://www.teqstories.com/assets/images/pc/AWS.svg">
							<h5>AWS Solutions Architect Certification Course</h5>
							<p>AWS Certification course provided by Teqstories authorizes the cloud experts to assist the professionals feature the in-demand skills. The organizations build productive and creative teams for clo...</p>
							<button>
								<div>
									<a href="">Read More</a>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="image">
							<img src="https://www.teqstories.com/assets/images/pc/Devops.svg">
							<h5>DevOps Professional Certification Course</h5>
							<p>DevOps Certification Training Course offered by Teqstories will help you to prepare for a career in DevOps. It is a fast-growing field that connects the gap between software developers and operation...</p>
							<button>
								<div>
									<a href="">Read More</a>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="image">
							<img src="https://www.teqstories.com/assets/images/pc/data.svg">
							<h5>Data Science With Python Certification Course</h5>
							<p>Data Science serves the purpose to find patterns within data. The Data Science Certification is recommended for professionals and job seekers so as to make quicker and better decisions, that take ...</p>
							<button>
								<div>
									<a href="">Read More</a>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col">
					<div class="card1">
						<div class="image">
							<img src="https://www.teqstories.com/assets/images/pc/Java.svg">
							<h5>Java Certification Course</h5>
							<p>As a fresher if you are looking for opportunities in the IT market, Java Certification helps you widely to stand out from the crowd. Java certification helps you learn new concepts in the Java wor...</p>
							<button>
								<div>
									<a href="">Read More</a>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="image">
							<img src="https://www.teqstories.com/assets/images/pc/react.svg">
							<h5>React JS With Redux Certification Course</h5>
							<p>The React JS Certification Course is for web developers, programmers who build awesome UI using React d Flux. ReactJS Certification helps the learner differentiate in today's competition, broaden ...</p>
							<button>
								<div>
									<a href="">Read More</a>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card1">
						<div class="image">
							<img src="https://www.teqstories.com/assets/images/pc/Angular.svg">
							<h5>Angular Certification Course</h5>
							<p>Angular Certification training is quite important for Web Developers and Mobile Application Developers. AngularJS certification produces developers who can build single page web applications using...</p>
							<button>
								<div>
									<a href="">Read More</a>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
	</section>
	<section>
		<div class="Customer ">
			<h5 style="font-size: 50px;color: #005b98;font-weight: 600;padding: 18px;">Customer Stories</h5>
			<p style="font-size: 20px;max-width: 600px; padding: 15px;">We at Teqstories are committed in delivering the best to our customers.</p>
		</div>
		<div class="con">
			<img src="https://www.teqstories.com/assets/images/person1.png">
			<p>It’s been amazing the way he teach AWS as I am from testing background and he made it easy for people like me to understand the networking ..!! Post which I referred couple of my friends who were inte...</p>

		</div>
	</section><br><br><br>
	<div class="info">
		<div class="head">
			<h5>Clients</h5>
			<p>Trusted by the best</p>
		</div>
		<section>
			<div class="row">
				<div class="col2">
					<div class="photo">
						<img src="https://www.teqstories.com/assets/images/01.png">
					</div>
				</div>
				<div class="col2">
					<div class="photo">
						<img src="https://www.teqstories.com/assets/images/02.png">
					</div>
				</div>
				<div class="col2">
					<div class="photo">
						<img src="https://www.teqstories.com/assets/images/03.png">
					</div>
				</div>
				<div class="col2">
					<div class="photo">
						<img src="https://www.teqstories.com/assets/images/04.png">
					</div>
				</div>
				<div class="col2">
					<div class="photo">
						<img src="https://www.teqstories.com/assets/images/05.png">
					</div>
				</div>
				<div class="col2">
					<div class="photo">
						<img src="https://www.teqstories.com/assets/images/06.png">
					</div>
				</div>
			</div>
		</section>
	</div>
	<br><br><br>
	<section>
		<div class="adv">
			<h5>The Teqstories Advantage</h5>
		</div>
		<div class="row">
			<div class="col3">
				<div class="gallary1">
					<img src="https://www.teqstories.com/assets/images/adv03.jpg">
					<h3>Free Demo Session</h3>
					<p>Experience the Demo session from our best instructors by getting in touch with our technical representatives.</p>
				</div>
			</div>
			<div class="col3">
				<div class="gallary">
					<img src="https://www.teqstories.com/assets/images/adv02.jpg">
					<h3>Access to LMS</h3>
					<p>The TeqStories LMS portal keeps you updated with a huge library of recorded video lectures and supports with an active community for all your queries.</p>
				</div>
			</div>
			<div class="col3">
				<div class="gallary">
					<img src="https://www.teqstories.com/assets/images/adv01.jpg">
					<h3>24/7 Technical Support</h3>
					<p>Our senior mentors are always happy to guide on your doubt clarifications and provide consultation to ensure a smooth learning experience.</p>
				</div>
			</div>
		</div>
	</section><br><br><br>
	<div class="main">
		<div class="row">
			<div class="col-left">
				Get ready to achieve your learning goals with TEQSTORIES
			</div>
			<div class="col-right">
				<div class="btn">
					<button>Quick Enquiry</button>
				</div>
			</div>
		</div>
	</div><br><br><br>
	<div class="bg">
		<p>Investment in knowledge
		Pays the best interest</p>
	</div>
	<footer>
		<section>
			<div class="intro">
				<h5>Follow us</h5>
			</div>
			<div class="row">
				<div class="col4">
					<div class="imgg">
						<img src="https://www.teqstories.com/assets/images/fb_icon.png">
					</div>
				</div>
				<div class="col4">
					<div class="imgg">
						<img src="https://www.teqstories.com/assets/images/twitter_icon.png">
					</div>
				</div>
				<div class="col4">
					<div class="imgg">
						<img src="https://www.teqstories.com/assets/images/youtube_icon.png">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col4">
					<div class="imgg">
						<img src="https://www.teqstories.com/assets/images/linkedin_icon.png">
					</div>
				</div>
				<div class="col4">
					<div class="imgg">
						<img src="https://www.teqstories.com/assets/images/insta_icon.png">
					</div>
				</div>
				<div class="col4">
					<div class="imgg">
						<img src="	https://www.teqstories.com/assets/images/whatsapp-32.png">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="cl">
					<div class="intro">
						<h5>Company</h5>
					</div>
					<nav>
						<ul>
							<li><a href="">About us</a></li>
							<li><a href="">Careers</a></li>
							<li><a href="">Contact us</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="cl">
					<div class="intro">
						<h5>Trending Certification Courses</h5>
					</div>
					<nav>
						<ul>
							<li><a href="">Machine Learning Certification</a></li>
							<li><a href="">Python Certification Course</a></li>
							<li><a href="">Data Scientist Training</a></li>

							<li><a href="">Cloud Certification</a></li>
							<li><a href="">Angular Certification</a></li>
							<li><a href="">Azure Cloud Certification</a></li>

							<li><a href="">Web Development Training</a></li>
							<li><a href="">Aws Solution Architect Training</a></li>
							<li><a href="">Java Certification Training</a></li>

							<li><a href="">Node js certification training</a></li>
							<li><a href="">Devops professional certification</a></li>
							<li><a href="">Java Certification Training</a></li>

							<li><a href="">Spring Boot training</a></li>
							<li><a href="">Mean stack development certification</a></li>
							<li><a href="">Mern stack development certification</a></li>

							<li><a href="">PHP certification training</a></li>
							<li><a href="">Software testing master training</a></li>
							<li><a href="">Jenkins certification training</a></li>
						</ul>
					</nav>
				</div>
			</div>
				<div class="row">
				<div class="cl">
					<div class="intro">
						<h5>Work with us</h5>
					</div>
					<nav>
						<ul>
							<li><a href="">Become an instructor</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="cl">
					<div class="intro">
						<h5>Discover</h5>
					</div>
					<nav>
						<ul>
							<li><a href="">Blogs</a></li>
							<li><a href="">Courses</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
	</footer>
</body>
</html>